<h2>Edit Student</h2>
<table>
<form action="/students/<%= @student.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<tr>
<td><label for="name">Name</label></td>
<td><input type="text" name="student[name]" id="name" value="<%= @student.name %>"></td>
</tr>
</table>
<h3>Edit Classes</h3>
<ul>
<% lesson_array = @lessons.sort_by {|t| [t.location.name, t.start_date, t.start_time]} %>
<% lesson_array.each do |lesson| %>
    <li><input type="checkbox" id="lesson<%= lesson.id %>" name="lessons[][id]" value="<%= lesson.id %>" 
    <% if @student.lessons.include?(lesson) %>
        checked="checked"
    <% end %>
    ><label for="lesson<%= lesson.id %>"><a href="/lessons/<%= lesson.id %>"><%= lesson.location.name %>, <%= lesson.start_time.strftime("%-l:%M %p") %>, <%= lesson.start_date.strftime("%b, %-d, %Y") %> to <%= lesson.end_date.strftime("%b, %-d, %Y") %></a></label></li>
<% end %>
</ul>
<% if @user.class == Instructor && @user.admin? %>
    <h3>Edit Parent</h3>
    <table>
    <tr>
    <td><label for="name">Name</label></td>
    <td><input type="text" name="parent[name]" id="name" value="<%= @student.parent.name %>"></td>
    </tr>
    <tr>
    <td><label for="email">Email</label></td>
    <td><input type="text" name="parent[email]" id="email" value="<%= @student.parent.email %>"></td>
    </tr>
    <tr>
    <td><label for="cell_phone">Cell Phone</label></td>
    <td><input type="text" name="parent[cell_phone]" id="cell_phone" value="<%= @student.parent.cell_phone %>"></td>
    </tr>
    <tr>
    <td><label for="address">Address</label></td>
    <td>
    <textarea id="address" name="parent[address]" rows="4" cols="50"><%= @student.parent.address %></textarea></td>
    </tr>
    </table>
<% end %>
<input type="submit" name="edit" id="edit" value="Edit"><br>
</form>
<p>
    <form action="/students/<%= @student.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete This Student">
    </form>
</p>