<h2>Edit Class</h2>
<form action="/lessons/<%= @lesson.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<table>
<tr>
<td><label for="location">Select Location : </label></td>
<td><select name="lesson[location]" id ="location">
    <option value="new">New Location</option>
    <% @locations.each do |location| %>
        <option value="<%= location.id %>"
        <% if @lesson.location == location %>
             selected="selected"
        <% end %>
        ><%= location.name %></option>
    <% end %>
</select></td>
</tr>
<tr>
<td><label for="start_time">Start Time : </label></td>
<td><select name="lesson[start_time]" id="start_time">
    <% start_time = Time.new(2000, 01, 01, 0, 0, 0, "+00:00") %>
    <% until start_time == Time.new(2000, 01, 02, 0, 0, 0, "+00:00") do %>
        <option value="<%= start_time %>"
        <% if @lesson.start_time == start_time %>
             selected="selected"
        <% end %>
        ><%= start_time.strftime("%-l:%M %p") %></option>
        <% start_time += 900 %>
    <% end %>
</select></td>
</tr>
<tr>
<td><label for="end_time">End Time : </label></td>
<td><select name="lesson[end_time]" id="end_time">
    <% end_time = Time.new(2000, 01, 01, 0, 0, 0, "+00:00") %>
    <% until end_time == Time.new(2000, 01, 02, 0, 0, 0, "+00:00") do %>
        <option value="<%= end_time %>"
        <% if @lesson.end_time == end_time %>
             selected="selected"
        <% end %>
        ><%= end_time.strftime("%-l:%M %p") %></option>
        <% end_time += 900 %>
    <% end %>
</select></td>
</tr>
<tr>
<td><label for="start_year">Start Date : </label></td>
<td><select name="lesson[date][start_year]" id="start_year">
    <% start_year = 2020 %>
    <% until start_year == 2050 %>
        <option value="<%= start_year %>"
        <% if @lesson.start_date.year == start_year %>
             selected="selected"
        <% end %>
        ><%= start_year %></option>
        <% start_year += 1 %>
    <% end %>
</select>
<select name="lesson[date][start_month]">
    <% start_month = DateTime.new(2000, 01, 01) %>
    <% until start_month == DateTime.new(2001, 01, 01) %>
        <option value="<%= start_month.month %>"
        <% if @lesson.start_date.month == start_month.month %>
             selected="selected"
        <% end %>
        ><%= start_month.strftime("%B") %></option>
        <% start_month = start_month >> 1 %>
    <% end %>
</select>
<select name="lesson[date][start_day]">
    <% start_day = 1 %>
    <% until start_day == 32 %>
        <option value="<%= start_day %>"
        <% if @lesson.start_date.day == start_day %>
             selected="selected"
        <% end %>
        ><%= start_day %></option>
        <% start_day += 1 %>
    <% end %>
</select>
</td>
</tr>
<tr>
<td><label for="end_year">End Date : </label></td>
<td><select name="lesson[date][end_year]" id="end_year">
    <% end_year = 2020 %>
    <% until end_year == 2050 %>
        <option value="<%= end_year %>"
        <% if @lesson.end_date.year == end_year %>
             selected="selected"
        <% end %>
        ><%= end_year %></option>
        <% end_year += 1 %>
    <% end %>
</select>
<select name="lesson[date][end_month]">
    <% end_month = DateTime.new(2000, 01, 01) %>
    <% until end_month == DateTime.new(2001, 01, 01) %>
        <option value="<%= end_month.month %>"
        <% if @lesson.end_date.month == end_month.month %>
             selected="selected"
        <% end %>
        ><%= end_month.strftime("%B") %></option>
        <% end_month = end_month >> 1 %>
    <% end %>
</select>
<select name="lesson[date][end_day]">
    <% end_day = 1 %>
    <% until end_day == 32 %>
        <option value="<%= end_day %>"
        <% if @lesson.end_date.day == end_day %>
             selected="selected"
        <% end %>
        ><%= end_day %></option>
        <% end_day += 1 %>
    <% end %>
</select>
</td>
</tr>
<tr>
<td><label for="price">Price : </label></td>
<td><input type="text" name="lesson[price]" id="price" value="<%= @lesson.price %>"></td>
</tr>
</table>
<h3>Add New Location</h3>
<table>
<tr>
<td><label for="location_name">Name</label></td>
<td><input type="text" name="lesson[new_location][name]" id="location_name"></td>
</tr>
<tr>
    <td><label for="location_address">Address</label></td>
    <td>
    <textarea id="location_address" name="lesson[new_location][address]" rows="4" cols="50"></textarea>
    </td>
</tr>
</table>
<h3>Select Instructors</h3>
<ul>
<% @instructors.each do |instructor| %>
    <li>
        <input type="checkbox" id="instructor<%= instructor.id %>" name="lesson[instructors][][id]" value="<%= instructor.id %>"
        <% if @lesson.instructors.include?(instructor) %>
             checked="checked"
        <% end %>
        >
        <label for="instructor<%= instructor.id %>"><a href="/instructors/<%= instructor.id %>"><%= instructor.name %></a></label>
    </li>
<% end %>
</ul>
<h3>Enroll Students</h3>
<ul>
<% @students.each do |student| %>
    <li>
        <input type="checkbox" id="student<%= student.id %>" name="lesson[students][][id]" value="<%= student.id %>"
        <% if @lesson.students.include?(student) %>
             checked="checked"
        <% end %>
        >
        <label for="student<%= student.id %>"><a href="/students/<%= student.id %>"><%= student.name %></a></label>
    </li>
<% end %>
</ul>
<input type="submit" name="edit" id="edit" value="Edit Class"><br>
</form>
<p>
    <form action="/lessons/<%= @lesson.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete This Class">
    </form>
</p>