<h2><a href="/locations/<%= @lesson.location.id %>"><%= @lesson.location.name %></a></h2>
<h2>Times : <%= @lesson.start_time.strftime("%-l:%M %p") %> to <%= @lesson.end_time.strftime("%-l:%M %p") %></h2>
<h3>Dates : <%= @lesson.start_date.strftime("%A, %B %-d, %Y") %> to <%= @lesson.end_date.strftime("%A, %B %-d, %Y") %></h3>
<h3>Instructors</h3>
<ul>
<% @lesson.instructors.each do |instructor| %>
    <li><a href="/instructors/<%= instructor.id %>"><%= instructor.name %></a></li>
<% end %>
</ul>
<h3>Students</h3>
<ul>
<% @lesson.students.each do |student| %>
    <li><a href="/students/<%= student.id %>"><%= student.name %></a></li>
<% end %>
</ul>
<p>
<% if @user.class == Instructor && @user.admin? %>
    <p><a href="/lessons/<%= @lesson.id %>/edit">Edit This Class</a></p>
<% end %>