<h2>Create New Parent</h2>
<form action="/parents/new" method="post">
<table>
<tr>
<td><label for="name">Name</label></td>
<td><input type="text" name="parent[name]" id="name"></td>
</tr>
<tr>
<td><label for="email">Email</label></td>
<td><input type="text" name="parent[email]" id="email"></td>
</tr>
<tr>
<td><label for="password">Password</label></td>
<td><input type="password" name="parent[password]" id="password"></td>
</tr>
<tr>
<td><label for="cell_phone">Cell Phone</label></td>
<td><input type="text" name="parent[cell_phone]" id="cell_phone"></td>
</tr>
<tr>
<td><label for="address">Address</label></td>
<td><textarea id="address" name="parent[address]" rows="4" cols="50">
</textarea></td>
</tr>
</table>
<h3>Add New Student</h3>
<table>
<tr>
<td><label for="name">Name</label></td>
<td><input type="text" name="student[name]" id="name"></td>
</tr>
</table>
<h4>Add Classes</h4>
<ul>
<% lesson_array = @lessons.sort_by {|t| [t.location.name, t.start_date, t.start_time]} %>
<% lesson_array.each do |lesson| %>
    <li><input type="checkbox" id="lesson<%= lesson.id %>" name="lessons[][id]" value="<%= lesson.id %>">
    <label for="lesson<%= lesson.id %>"><a href="/lessons/<%= lesson.id %>"><%= lesson.location.name %>, <%= lesson.start_time.strftime("%-l:%M %p") %>, <%= lesson.start_date.strftime("%b, %-d, %Y") %> to <%= lesson.end_date.strftime("%b, %-d, %Y") %></a></label></li>
<% end %>
</ul>
<input type="submit" name="create" id="create" value="Create"><br>
</form>